.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "a b b b"
    "a c c c"
    "a c c c"
;
    grid-gap: 8px;
}

.a{
    grid-area: a;
    background: red;
}

.b{
    grid-area: b;
    background: blue;
}

.c{
    grid-area: c;
    background: green;
}

.avatar{
    width: 100%;
    max-width: 100px;
    border-radius: 50px;
}
